<div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                  <center><h3>Add Your Plan</h3></center>
                    <form name="frm" class="frmbgclr" ng-submit="planadd()" style="margin-top: 40px;">
                    
                       <div class="form-group">
                            <label class="control-label" for="Rate">Rate</label><span class="red">*</span>:
                            <input type="text" class="form-control" ng-pattern="/^\d{1,8}$/" maxlength="6" name="rate" ng-model="plan.rate" placeholder="Enter Rate" required> 
                            <span class="help-block" ng-show="frm.rate.$error.pattern && frm.rate.$invalid ">Enter numbers only</span>
                            <span class="help-block" ng-show="frm.rate.$dirty && frm.rate.$error.required">Required.!</span>
                       </div>
					  
                        <div class="form-group">
                            <label class="control-label" for="Months">Period</label><span class="red">*</span>:
                            <input type="text" class="form-control" name="Months" ng-model="plan.period" ng-pattern="/^[a-zA-Z0-9_ ]*$/"placeholder="Enter Your Period" required> 
                            <span class="help-block" ng-show="frm.Months.$dirty && frm.Months.$error.required">Required.!</span>
                            <span class="help-block" ng-show="frm.Months.$error.pattern && frm.Months.$invalid ">No Special Characters allowed</span>
                            
                       </div>
                     <input type="hidden" ng-model="plan.plus">
                      <!-- <div class="form-group">
                            <label class="control-label" for="Plus">Plus</label>:<span class="red">*</span>
                            <input type="text" class="form-control" name="Plus"  ng-model="plan.plus" placeholder="Enter Plus" required> 
                            <span class="help-block" ng-show="frm.Plus.$dirty && frm.Plus.$error.required">Required.!</span>
                            
                        </div> -->
                       <div class="form-group">
                            <label class="control-label" for="Vacancy">Vacancy</label><span class="red">*</span>:
                            <input type="text" class="form-control" name="Vacancy"  ng-model="plan.vacancy" ng-pattern="/^[a-zA-Z0-9_ ]*$/" placeholder="Enter Vacancy" required> 
                            <span class="help-block" ng-show="frm.Vacancy.$dirty && frm.Vacancy.$error.required">Required.!</span>
                            <span class="help-block" ng-show="frm.Vacancy.$error.pattern && frm.Vacancy.$invalid ">No Special Characters allowed</span>
                        </div>

                        <div class="form-group">
                          <label class="control-label" for="CV">CV's</label><span class="red">*</span>:
                          <input type="text" class="form-control" name="CV" ng-model="plan.cv" ng-pattern="/^[a-zA-Z0-9_ ]*$/" placeholder="Enter your no of CV's" required>
                          <span class="help-block" ng-show="frm.CV.$dirty && frm.CV.$error.required">Required.!</span>
                          <span class="help-block" ng-show="frm.CV.$error.pattern && frm.CV.$invalid ">No Special Characters allowed</span>
                          
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="Emails">E-mails</label><span class="red">*</span>:
                            <input type="text" class="form-control" name="Emails" ng-model="plan.email" ng-pattern="/^[a-zA-Z0-9_ ]*$/" placeholder="Enter Your no of Emails" required> 
                            <span class="help-block" ng-show="frm.Emails.$dirty && frm.Emails.$error.required">Required.!</span>
                      		<span class="help-block" ng-show="frm.Emails.$error.pattern && frm.Emails.$invalid ">No Special Characters allowed</span>
                       </div>
					   
                        <b class="text-center"><span class="red">* fields are mandatory</span></b>
                        
                        <div class="form-group pull-right">
                          <button type="submit" class="btn btn-primary" ui-sref="RA.plan" >Back</button>
                          <button type="submit" class="btn btn-primary"  ng-disabled="frm.$invalid">Submit</button>
                          </div>     
                    </form>
                </div>

            </div>
          </div>