<style>
.Applicationloader {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(173, 216, 230, 0.2);
	z-index: 999999;
	/*position: absolute;*/
}

.Applicationloader img {
	margin-left: 50%;
	margin-top: calc(100vh - 60vh);
}
</style>
<div ng-show="isLoading" class="Applicationloader">
	<img src="images/OjasRALoader.gif" />
	<!--   <span class="fa fa-spinner fa-spin"></span> -->
</div>
<div class="container-fluid m-t-50">
	<div class="row sea">
		<!-- 	  <div class="container"> -->
		<h4 style="color: #337ab7; margin-left: 20px;">Search Your
			Resource :</h4>
		<div class="col-sm-3">
			<input type="text" ifEmpty class="form-control"
				ng-model="search.primarySkills" placeholder="Skills Ex:java,angular">
			<!-- 	<oi-select ng-model="search.primarySkills" multiple oi-options="v for v in skills"  placeholder="Skills Ex:html"required>
              </oi-select>	 -->
		</div>
		<div class="col-sm-3">
			<input type="text" ifEmpty class="form-control"
				ng-model="search.jobCategory" placeholder="job Category">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="search.city"
				placeholder="Location">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control"
				ng-model="search.totalExperience" placeholder="Experience">
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-primary"
				ng-click="dynamicsearch(search.primarySkills,search.jobCategory,search.city,search.totalExperience)"
				style="margin-top: 3px;">
				<i class="fa fa-search"></i>&nbsp;Search
			</button>
		</div>
		<!--  </div> -->

	</div>

</div>
<div class="container-fluid m-t-20">
	<div class="row" style="margin-top: 187px">

		<div class="col-sm-2" style="position: absolute; left: 30px;">



			<!-- <div class=""> -->
			<uib-accordion close-others="oneAtATime">
			<div uib-accordion-group class="panel-default"
				is-open="status.Skills">
				<uib-accordion-heading> Skills <i
					class="pull-right glyphicon"
					ng-class="{'glyphicon glyphicon-minus': status.Skills, 'glyphicon glyphicon-plus': !status.open}"></i>
				</uib-accordion-heading>
				<ul class="list-group"
					ng-repeat="(skil1,count) in skillslist.skillsMap track by $index">
					<input type="checkbox" checklist-model="skil.skills"
						checklist-value="skil1" ng-click="checkbox()">
					{{skil1}}({{count}}) &nbsp;


				</ul>
			</div>
			<div uib-accordion-group class="panel-default" is-open="status.Job ">
				<uib-accordion-heading> Job Category <i
					class="pull-right glyphicon"
					ng-class="{'glyphicon glyphicon-minus': status.Job , 'glyphicon glyphicon-plus': !status.open}"></i>
				</uib-accordion-heading>
				<ul class=" list-group"
					ng-repeat="(jobcat,count) in skillslist.jobCategoryMap track by $index">
					<input type="checkbox" checklist-model="job.jobCategory1"
						checklist-value="jobcat" ng-click="checkbox()">
					{{jobcat}}({{count}}) &nbsp;
				</ul>
			</div>
			<div uib-accordion-group class="panel-default"
				is-open="status.Location">
				<uib-accordion-heading> Location<i
					class="pull-right glyphicon"
					ng-class="{'glyphicon glyphicon-minus': status.Location, 'glyphicon glyphicon-plus': !status.open}"></i>
				</uib-accordion-heading>

				<ul class=" list-group"
					ng-repeat="(location1,count) in skillslist.locationMap track by $index">
					<input type="checkbox" checklist-model="location2.city"
						checklist-value="location1" ng-click="checkbox()">
					{{location1}}({{count}}) &nbsp;
				</ul>
			</div>
			<div uib-accordion-group class="panel-default"
				is-open="status.Experience">
				<uib-accordion-heading> Experience <i
					class="pull-right glyphicon"
					ng-class="{'glyphicon glyphicon-minus': status.Experience, 'glyphicon glyphicon-plus': !status.open}"></i>
				</uib-accordion-heading>
				<ul class=" list-group"
					ng-repeat="(exp,count) in skillslist.yearsOfExperiencMap track by $index">
					<input type="checkbox" checklist-model="exp2.totalExperience"
						checklist-value="exp" ng-click="checkbox()">
					{{exp}}({{count}}) &nbsp;

				</ul>
			</div>

			<div uib-accordion-group class="panel-default"
				is-open="status.company1">
				<uib-accordion-heading> Budget <i
					class="pull-right glyphicon"
					ng-class="{'glyphicon glyphicon-minus': status.company1, 'glyphicon glyphicon-plus': !status.open}"></i>
				</uib-accordion-heading>
				<ul class=" list-group"
					ng-repeat="(budget,count) in skillslist.budgetMap track by $index">
					<input type="checkbox" checklist-model="budget1.budget"
						checklist-value="budget" ng-click="checkbox()">
					{{budget}}({{count}}) &nbsp;

				</ul>
			</div>
			<br>
		</div>
		<div class="col-sm-8" ng-show="divshowing_cus">
			<h3 class="text-right">No Records found</h3>
			<button type="button" class="btn btn-primary pull-left"
				ng-click="getresourcelist()" style="margin-left: 400px;">Back
			</button>

		</div>

		<div class="col-sm-8" ng-show="divshowing_cus1"
			style="margin-left: 404px;">
			<!-- <h4 class="text-center"><span ng-bind="totalCount"></span>&nbsp;Records Found</h4> -->
			<div ng-repeat="x in resourcelist" class="box">
				<a  href="" data-toggle="modal" data-target="#myModal{{$index}}" ng-click="getsummery(x)">
				<div class="header-box">
						<p>
							<span title="Job Category">{{x.jobCategory}}</span><span
								title="Location">-{{x.currentLocation}}</span><span
								title="Experience">({{x.yearsOfExperience}}-{{x.monthsOfExperience}})</span>
							<span title="Resource Id">{{x.resId}}</span>
						</p>
					</div></a><div class="row">
						<div class="companyName-box col-sm-7">
							<p>
								<span title="Company Name">{{x.companyName}}</span>
							</p>
						</div>
						<div class="col-sm-5">
							<span style="" class="iconcolor">&#x20B9;</span>&nbsp;:<span
								style="" class="textcolor" title="Budget">{{x.budget}} /</span><span
								style="" class="textfont">{{x.rate}}</span> +<span style=""
								class="taxes"> {{x.gst}} </span></span>
						</div>
					</div><div
						class="description-box">
						<p title="Resource Name">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;{{x.firstName}}
						</p>
					</div><div class="row">
						<div class="description-box col-sm-7">
							<p>
								<i class="glyphicon glyphicon-envelope"> </i>&nbsp;&nbsp;<span
									title="Vendor EmailId">{{x.emailId}}&nbsp;</span>
							</p>
						</div>
						<div class="col-sm-5">
							<i class="fa fa-phone iconcolor "></i>&nbsp;:<span
								class="textcolor" title="Vendor Contact Number">{{x.mobileNumber}}</span>
						</div>
					</div><div class="description-box">
						<p>
							<i class="glyphicon glyphicon-calendar"></i>&nbsp;{{x.availability}}
						</p>
					</div>

				<div class="Skills-box">
					<p>
						<span class="iconcolor">Skills:</span>&nbsp;{{x.primarySkills.toLowerCase()
						}},{{x.secondarySkills.toLowerCase() }}
						<a class=" btn pull-right"
							ng-click="requirementsearch(x._id,x.primarySkills,x.jobCategory,x.currentLocation,x.yearsOfExperience)">
							Match with us </a>

					</p>

				</div>
				<div class="Skills-box">
					<p>
						&nbsp;&nbsp;SoftLock&nbsp; :<a class="btn btn-sm btn-success butn"
							ng-click="softlockResource(x)">{{x.softLock}}</a>
						&nbsp;&nbsp;HardLock &nbsp;:<a class="btn btn-sm btn-danger butn"
							disabled>{{x.hardLock}}</a> &nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;MSA Available&nbsp; :<a
							class="btn btn-sm btn-primary butn"
							ng-click="isSowUserResource(x)" disabled>{{x.isSowUser}}</a>
					</p>

				</div>
				
				 <!-- Modal -->
  <div class="modal fade" id="myModal{{$index}}" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
         
         <h3 class="fon"  style="color: #183c5f;font-family: inherit;">
				<i class="fa fa-user-circle-o color"></i>&nbsp;{{firstName1}}&nbsp;{{lastName1}},&nbsp;{{jobCategory1}} &nbsp;({{yearsOfExperience1}}-{{monthsOfExperience1}} )
			</h3>
			<h4 class="fon" style="color: #183c5f;font-family: inherit;">
				<i class="fa fa-building color"></i>&nbsp;{{companyName1}} {{currentLocation2}} {{resId1}}
			</h4>
			<h5 class="fon" style="color: #183c5f;font-family: inherit;"">
				<i class="fa fa-rupee color"></i>&nbsp;{{budget1}}/{{rate1}}+{{gst1}}
			</h5>
			<h4>
			<i class="fa fa-phone"></i>&nbsp;<span style="color: #183c5f;font-family: inherit;">{{mobileNumbe1r}}</span>
			</h4>
        </div>
        <div class="modal-body">
         
			<h4  class="jd">About Me</h4>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-user-circle-o color"></i>&nbsp;&nbsp;Name : {{firstName1}}&nbsp;{{lastName1}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-bank color"></i>&nbsp;&nbsp;CompanyName : {{companyName1}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-black-tie color"></i>&nbsp;Job Category : {{jobCategory1}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="glyphicon glyphicon-briefcase color"></i>&nbsp;&nbsp;Experience :{{yearsOfExperience1}}-{{monthsOfExperience1}} </p>
				<p style="color: #183c5f;font-family: inherit;"><i class="glyphicon glyphicon-map-marker color"></i>&nbsp;&nbsp;Job Location : {{currentLocation2}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-rupee color"></i>&nbsp;&nbsp;Salary : {{budget1}}/{{rate1}} + {{gst1}}</p>	
				<p style="color: #183c5f;font-family: inherit;"><i class="glyphicon glyphicon-screenshot color"></i>&nbsp;&nbsp;Preferred Location : {{preferredLocation2}}</p>	
				
			
			<hr>
			<h4  style="color: #183c5f;font-family: inherit;">Technical Skills </h4>

			<p class="para"><i class="fa fa-tags color"></i>&nbsp;&nbsp;Skills:&nbsp;{{primarySkills1}},{{secondarySkills1}}</p>
	
			<hr>
			<h4 style="color: #183c5f;font-family: inherit;">Contact Details</h4>
			<p style="color: #183c5f;font-family: inherit;"><i class="glyphicon glyphicon-envelope color"></i>&nbsp;&nbsp;Email Id&nbsp;:{{emailId1}}</p>
			<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-mobile color"></i>&nbsp;&nbsp;Mobile Number&nbsp;: +91-{{vendorMobile2}}</p>
			<p style="color: #183c5f;font-family: inherit;"><i class="glyphicon glyphicon-map-marker color"></i>&nbsp;&nbsp;Address&nbsp;:{{currentLocation2}},{{state1}},{{country1}}</p>
			
			
	
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
				

			</div>


		</div>
	</div>
	<!-- 	<div class="pull-right" ng-show="divshowing_cus1">  
     <pagination total-items="totalcount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true"
     ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                <a class="btn btn-primary">Page: {{pageIndex}} / {{pageSizeSelected}}</a>  
                <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChanged()"></ul>
                </div> -->
	<div class="pull-right" ng-show="divshowing_cus1">
		<span ng-show="divLoadPagination">
			<ul uib-pagination total-items="totalCount" max-size="maxSize"
				items-per-page="pageSizeSelected" boundary-links="true"
				rotate="false" num-pages="numPages" direction-links="true"
				ng-model="pageIndex" ng-change="pageChanged()"></ul>
		</span> <span ng-show="divSearchPagination">
			<ul uib-pagination total-items="totalCount" max-size="maxSize"
				items-per-page="pageSizeSelected" boundary-links="true"
				rotate="false" num-pages="numPages" direction-links="true"
				ng-model="pageIndex" ng-change="pageChangedSearchPagination()"></ul>
		</span> <span ng-show="divFilterPagination">
			<ul uib-pagination total-items="totalCount" max-size="maxSize"
				items-per-page="pageSizeSelected" boundary-links="true"
				rotate="false" num-pages="numPages" direction-links="true"
				ng-model="pageIndex" ng-change="pageChangedFilterPagination()"></ul>
		</span>
	</div>
</div>
<!-- </div>
</div> -->
