<style>
 .Applicationloader {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(173,216,230, 0.2);
  z-index: 999999;
  /*position: absolute;*/
}

  .Applicationloader img {
    margin-left: 50%;
    margin-top: calc(100vh - 60vh);
  }
  </style>
 <div ng-show="isLoading" class="Applicationloader">
    <img src="images/OjasRALoader.gif" />
  <!--   <span class="fa fa-spinner fa-spin"></span> -->
  </div>
<div class="container-fluid m-t-50" >



	<div class="row sea">
<!-- 	  <div class="container">	 -->	
	  <h4 style="color: #337ab7;margin-left: 20px;">Search Your Requirement :</h4>
		<div class="col-sm-3">
	<input type="text" class="form-control" ng-model="search.primarySkills"
				placeholder="Skills Ex:java,angular">
	<!-- 		<oi-select ng-model="search.primarySkills" multiple oi-options="v for v in skills"  placeholder="Skills Ex:html"required>

              </oi-select> -->

		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" ng-model="search.jobCategory"
				placeholder="Job Category">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="search.jobLocation"
				placeholder="Location">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="search.experience"
				placeholder="Experience">
		</div>

		<div class="col-sm-2">
			<button type="submit" class="btn btn-primary"  ng-disabled="errorMessage=='No records found'" ng-click="dynamicsearch(search.primarySkills,search.jobCategory,search.jobLocation,search.experience)" style="margin-top:3px;">
				<i class="fa fa-search"></i>&nbsp;Search
			</button>
		</div>
     <!--  </div> -->
</div>
	</div> 


	<br>
	
<div class="container-fluid" style="margin-top: 187px;">
	<div class="row">		
		
		<button type="button" class="btn btn-primary pull-right"
				ui-sref="customer.addpostrequirement" style="position: fixed;z-index: 9;right: 10px;">
				&nbsp;<i class="fa fa-plus"></i>&nbsp;Post
			</button>
	
	<div class="col-sm-2 scroll" style="position: absolute; left: 30px; ">		
						
			
				<uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default"
					is-open="status.Skills">
					<uib-accordion-heading> Skills <i
						class="pull-right glyphicon"
						 ng-class="{'glyphicon glyphicon-minus': status.Skills, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class="list-group" ng-repeat="(skill,count) in skillslist.skillsMap track by $index">
					   <input type="checkbox" checklist-model="skil.skills" checklist-value="skill" ng-click="checkbox()"> {{skill}}({{count}})
					</ul>
				</div>
					<div uib-accordion-group class="panel-default" is-open="status.Job ">
					<uib-accordion-heading> Job Category <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Job , 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="(jobcategory,count) in skillslist.jobCategoryMap track by $index">
					 <input type="checkbox" checklist-model="job.jobCategory1" checklist-value="jobcategory" ng-click="checkbox()" > {{jobcategory}}({{count}}) &nbsp;
					</ul>
				</div>
				<div uib-accordion-group class="panel-default"
					is-open="status.Location">
					<uib-accordion-heading> Location<i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Location, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>

					<ul class=" list-group" ng-repeat="(location1,count) in skillslist.locationMap track by $index">
					    <input type="checkbox" checklist-model="location2.city" checklist-value="location1" ng-click="checkbox()"> {{location1}}({{count}}) &nbsp;
					</ul>
				</div>			
				<div uib-accordion-group class="panel-default"
					is-open="status.Experience">
					<uib-accordion-heading> Experience <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Experience, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="(exp1,count) in skillslist.yearsOfExperiencMap track by $index">
					<input type="checkbox" checklist-model="exp2.totalExperience" checklist-value="exp1" ng-click="checkbox()"> {{exp1}}({{count}})&nbsp;
				
					</ul>
				</div>
				<div uib-accordion-group class="panel-default"
					is-open="status.budget">
					<uib-accordion-heading> Budget <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.budget, 'glyphicon glyphicon-plus': !status.open}"></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="(budget,count) in skillslist.budgetMap track by $index">
						<input type="checkbox" checklist-model="budget1.budget" checklist-value="budget" ng-click="checkbox()"> {{budget}}({{count}}) &nbsp;
						
					</ul>
				</div>
				<br>
	
			</div>
		
		<!-- </div> -->	 
		<!-- 
		<div class="col-sm-8" ng-show="divshowing">
		<button type="button" class="btn btn-primary pull-left"
				ng-click="postareq()" style="margin-left:400px;">Back
			</button>
		
		</div>
		-->

		
		
			<div class="col-sm-8" style="margin-left: 404px;">
			<div ng-show="errorMessage=='No records found'">
             <strong>No Records Found</strong> 
            </div>
				<div ng-repeat="x in list" class="box">
					
					<a class="pull-right edit-box" ui-sref="customer.updatepostarequirement({postId:x._id})"><i
						class="fa fa-edit" aria-hidden="true"></i></a>
					<a href="" data-toggle="modal" data-target="#myModal{{$index}}" ng-click="getDetails(x)">
					<div class="header-box">		
						<p>
							 <span class="glyphicon glyphicon-fire colred" ng-if="x.job == 'hot'" title="Hot Job"></span> <span class="fa fa-flash colyel" ng-if="x.job == 'premium'" title="Premium Job"></span> &nbsp;<span title="Job Category">{{x.jobCategory}}</span>-<span><span title="Job Location">{{x.jobLocation}}</span><span title="Experience">({{x.yearsOfExperience}}&nbsp;-&nbsp;{{x.monthsOfExperience}})</span>&nbsp;<span title="JobID"> Job Id:&nbsp;{{x.jobId}}</span>
						</p>
					</div>
					</a>
					
					<div class="row">
					<div class="companyName-box col-md-7">
						<p><span title="Company Name">{{x.companyName}}</span> &nbsp;&nbsp;<span title="Vacancies"> Vacancies:&nbsp;{{x.resources}}</span>&nbsp;
						<p>
					</div>
					
					<div class="col-md-5">						
					<span style="" class="iconcolor" >&#x20B9;</span>&nbsp;:<span style="" class="textcolor" title="Budget">{{x.budget}} / </span><span style="" class="textfont">{{x.rateType}}</span> +<span style="" title="GST Taxes"class="taxes">{{x.gst}} </span></span>
					</div>	
					</div>				
						<div class="description-box">
						<p title="Job Desciption">{{x.description}}</p>
						<p>{{x._id}}</p>
					</div>
					<div class="row">
					<div class="description-box col-md-7">


						<p title="Skills"><span class="iconcolor">Skills:</span>{{x.primarySkills.toLowerCase()}},{{x.secondarySkills.toLowerCase()}}
						
					
						</p>
					</div>
					
					<div class="col-md-5">						
					<span style="" class="textcolor" title="Customer Contact Number"><i style="" class="fa fa-phone iconcolor"></i>&nbsp;:{{x.phoneNumber}}</span>
					</div>
					</div>
					<div class="Skills-box">
						 <p><b>Status</b>:<a type="button" class="btn butn" ng-click="requirement(x)">{{x.status}}</a>	&nbsp;&nbsp;<span style="" class="textcolor" title="Join Within"><i style="" class="fa fa-calendar iconcolor"></i>&nbsp;:{{x.joinWithin}}</span>	&nbsp;&nbsp;<span style="" class="textcolor" title="Posted Date"><i style="" class=" fa fa-table iconcolor"></i>&nbsp;:{{x.postedDate}}</span>			  
						 
						 <a class=" btn pull-right" ng-click="searchresource(x._id,x.primarySkills,x.jobCategory,x.jobLocation,x.yearsOfExperience,x.registrationId)">
					

						
								<i class="fa fa-search"></i>&nbsp;Search Resource
							</a>
						 </p>
					</div>
					
					
  <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div class="modal fade" id="myModal{{$index}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
          <h3 class="fon" style="color: #183c5f;font-family: inherit;">
				<i class="fa fa-briefcase"></i>&nbsp;{{jobCategory}}({{yearsOfExperience}}&nbsp;- {{monthsOfExperience}}&nbsp;)
			</h3>
			<h4 class="fon" style="color: #183c5f;font-family: inherit;">
				<i class="fa fa-building"></i>&nbsp;{{companyName}} {{jobLocation}} {{jobId}}
			</h4>
			<h5 class="fon" style="color: #183c5f;font-family: inherit;">
				<i class="fa fa-rupee"></i>&nbsp;{{budget}}/{{rateType}} + {{gst}} </span>
			</h5>
			<h4>
			<i class="fa fa-phone"></i>&nbsp;<span style="color: #183c5f;font-family: inherit;">{{phoneNumber}}</span>
			</h4>
        </div>
        <div class="modal-body">
         
			<h4  class="jd" style="color: #183c5f;font-family: inherit;">Job Description</h4>

				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-briefcase color"></i>&nbsp;&nbsp;Job Category : {{jobCategory}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-bank color"></i>&nbsp;&nbsp;CompanyName : {{companyName}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="glyphicon glyphicon-briefcase color"></i>&nbsp;&nbsp;Experience : {{yearsOfExperience}}  - {{monthsOfExperience}} </p>
				<p style="color: #183c5f;font-family: inherit;"><i class="glyphicon glyphicon-map-marker color"></i>&nbsp;&nbsp;Job Location : {{postrequirement.jobLocation}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-rupee color"></i>&nbsp;&nbsp;Budget : {{budget}}/{{rateType}} + {{gst}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-black-tie color"></i>&nbsp;Job-Type : {{jobType}}</p>
				<p style="color: #183c5f;font-family: inherit;" ><i class="fa fa-users color"></i>&nbsp;&nbsp;No of Resources : {{resources}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-calendar color"></i>&nbsp;&nbsp;Join Within : {{joinWithin}}</p>
				<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-graduation-cap  color"></i>&nbsp;&nbsp;Highest Qualification : {{qualifications}}</p>
			
		<hr style=" width: 46%;">
			<h4 class="jd" style="color: #183c5f;font-family: inherit;">Roles and Responsibility</h4>

			<p class="para" style="color: #183c5f;font-family: inherit;">{{description}}</p>
			<hr style=" width: 46%;">
			<h4 class="jd" style="color: #183c5f;font-family: inherit;">KeySkills Required</h4>

			<p style="color: #183c5f;font-family: inherit;"><i class="fa fa-tags color"></i>&nbsp;&nbsp;Skills:&nbsp;{{primarySkills}},{{secondarySkills}}</p>
			<hr style=" width: 46%;"> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
				</div>
			</div>
			


			
			
			
			
		</div>
<!-- 	</div> -->
	
	
	<div class="pull-right" ng-hide="errorMessage=='No records found'">  
     <!-- <pagination total-items="totalcount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true"
     ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                <a class="btn btn-primary">Page: {{pageIndex}} / {{pageSizeSelected}}</a>  --> 
             <span ng-show="divLoadPagination"> <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChanged()"></ul></span> 
            <span ng-show="divSearchPagination">     <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChangedSearchPagination()"></ul></span> 
             <span ng-show="divFilterPagination">     <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChangedFilterPagination()"></ul></span> 
      </div>
<!-- </div>  -->

