
<div class="container-fluid m-t-50">
<!-- 
	<div class="row sea">
		
	  <h4 style="color: #337ab7">Search Your Requirement :</h4>
		<div class="col-sm-3">
		<input type="text" class="form-control" ng-model="search.primarySkills"
				placeholder="Skills Ex:java,angular">
			
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" ng-model="search.jobCategory"
				placeholder="job Category">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="search.jobLocation"
				placeholder="Location">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" ng-model="search.experience"
				placeholder="Experience">
		</div>

		<div class="col-sm-2">
			<button type="button" class="btn btn-primary">
				<i class="fa fa-search"></i>&nbsp;Search
			</button>
		</div>
   
</div>

	</div>
	<br>
	<div class="container-fluid" style="margin-top: 187px;">
	<div class="row">
		<div class="col-sm-2" style="position: fixed;z-index: 9;left: 30px;">		
					<div class="">
				<uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default"
					is-open="status.Skills">
					<uib-accordion-heading> Skills <i
						class="pull-right glyphicon"
						 ng-class="{'glyphicon glyphicon-minus': status.Skills, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class="list-group" ng-repeat="(skill,count) in skillslist.skillsMap">
					   <input type="checkbox" checklist-model="skil.skills" checklist-value="skill" ng-click="checkbox()"> {{skill}}({{count}})
					</ul>
				</div>
					<div uib-accordion-group class="panel-default" is-open="status.Job ">
					<uib-accordion-heading> Job Category <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Job , 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="(jobcategory,count) in skillslist.jobCategoryMap">
					 <input type="checkbox" checklist-model="job.jobCategory1" checklist-value="jobcategory" ng-click="checkbox()" > {{jobcategory}}({{count}}) &nbsp;
					</ul>
				</div>
				<div uib-accordion-group class="panel-default"
					is-open="status.Location">
					<uib-accordion-heading> Location<i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Location, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>

					<ul class=" list-group" ng-repeat="(location1,count) in skillslist.locationMap">
					    <input type="checkbox" checklist-model="location2.city" checklist-value="location1" ng-click="checkbox()"> {{location1}}({{count}}) &nbsp;
					</ul>
				</div>			
				<div uib-accordion-group class="panel-default"
					is-open="status.Experience">
					<uib-accordion-heading> Experience <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Experience, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="(exp1,count) in skillslist.yearsOfExperiencMap">
					<input type="checkbox" checklist-model="exp2.totalExperience" checklist-value="exp1" ng-click="checkbox()"> {{exp1}}({{count}}) &nbsp;
				
					</ul>
				</div>
			 	<!-- <div uib-accordion-group class="panel-default"
					is-open="status.company">
					<uib-accordion-heading> Top Vendors <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.company, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="(comp,count) in skillslist.vendorSet">
						<input type="checkbox" checklist-model="customer1.customer" checklist-value="comp" ng-click="checkbox()"> {{comp}}({{count}}) &nbsp;
						
					</ul>
				</div>
				<div uib-accordion-group class="panel-default"
					is-open="status.company1">
					<uib-accordion-heading> Budget <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.company1, 'glyphicon glyphicon-plus': !status.open}" ></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="(budget,count) in skillslist.budgetMap">
						<input type="checkbox" checklist-model="budget1.budget" checklist-value="budget" ng-click="checkbox()"> {{budget}}({{count}}) &nbsp;
						
					</ul>
				</div>
				<br>
	
			</div>

			</div>	
			-->
	  
		 
		<div class="container"style="margin-top: 100px;">
		 <button type="button" class="btn btn-danger pull-left" ui-sref="customer.resourcelist" style="margin-left: 13px ">
				Go Back
			</button>
			    
	    <div ng-show="errorMessage=='records not found'" >
		<h3 class="text-center">No Matching Requirement</h3>
		</div>
			<div class="col-sm-12" style="margin-top: 10px;	">
			
				<div ng-repeat="x in list " class="box">
					<a ui-sref="customer.resourcesummarydetails({postId:x._id})"><div class="header-box">
						<p>
							<span title="Job Category">{{x.jobCategory}}</span>-<span><span title="Job Location">{{x.jobLocation}}</span><span title="Experience">({{x.yearsOfExperience}}&nbsp;-&nbsp;{{x.monthsOfExperience}})</span>&nbsp;<span title="Job Id">Job Id:&nbsp;{{x.jobId}}</span>
						</p>
					</div></a>
					<a ui-sref="customer.resourcesummarydetails({postId:x._id})"><div class="row">
					<div class="companyName-box col-md-7">
						<p><span title="Company Name">{{x.companyName}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<span title="Vacancies"> Vacancies:&nbsp;{{x.resources}}</span>
						<p>
					</div>
					
					<div class="col-md-5">						
					<span style="" class="iconcolor" >&#x20B9;</span>&nbsp;:<span style="" class="textcolor" title="Budget">{{x.budget}} / </span><span style="" class="textfont">{{x.rateType}}</span> +<span style="" class="taxes">{{x.gst}} </span>
					</div>	
					</div></a>	
					<a ui-sref="customer.resourcesummarydetails({postId:x._id})"><div class="description-box">
						<p title="job Description">{{x.description}}</p>
						
					</div></a>
					<a ui-sref="customer.resourcesummarydetails({postId:x._id})"><div class="row">
					<div class="description-box col-md-7">


						<p title="Skills"><span style="" class="iconcolor" >Skills:</span>{{x.primarySkills.toLowerCase()}},{{x.secondarySkills.toLowerCase()}}
						
					
						</p>
					</div>
					
					<div class="col-md-5">						
					<span style="" class="textcolor" title="Contact Number"><i style="" class="fa fa-phone iconcolor"></i>&nbsp;:{{x.phoneNumber}}</span>
					</div>
					</div></a>
				</div>
			
			</div>
			
	<div class="pull-right" ng-show="divshowing1">  
   
             <span ng-show="divLoadPagination"> <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChanged()"></ul></span> 
            <span ng-show="divSearchPagination">     <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChangedSearchPagination()"></ul></span> 
             <span ng-show="divFilterPagination">     <ul uib-pagination total-items="totalCount" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChangedFilterPagination()"></ul></span> 
      </div>
		</div>
	</div>
</div>
</div>

