 <div  class="container m-t-75">
 <div class="row">
              
                  <div class="input-group">
                    <input type="text" ng-model="search" class="form-control" size="50" placeholder="Search Here...." required>
                   <button type="button" class="btn btn-primary pull-right" style="margin-right: -620px;"  ui-sref="RA.addnewJoin"> Add </button>                 
                    </div>
                
                <div class="table-responsive m-t-30">
                	<table  class="table text-center">
						    <thead>
						        <th>S.No</th>
						        <th>Notice Period</th>
								<th>Edit</th>
						    </thead>
						    <tbody>
						        <tr ng-repeat="user in joinwithinlist | filter:search">
						            <td>{{pageSizeSelected*(pageIndex-1)+$index+1}}</td>
						            <td>{{user.joinWithIn}}</td>
						           <td><a type="button" class="btn btn-primary" ui-sref="RA.updatejoinWithIn({joinWithIn:user._id})"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
						        </tr>
						    </tbody>
					</table>
                </div> 
                 
                                  <div class="pull-right"> 
                                  	  <ul uib-pagination total-items="totalCount" style="margin-right: 15px;" max-size="maxSize" items-per-page="pageSizeSelected" boundary-links="true" rotate="false" num-pages="numPages" direction-links="true" ng-model="pageIndex" ng-change="pageChanged()"></ul>
                                  </div>
                                 
                                    
                                
                                  </div>
                </div>