<!-- 
<footer class="footer">
<div class="footercolor">
    <div class="container">
 <div class="row">
<div class="col-md-3">
    <ul>
    	<li class="lbrand padd"><a>Learn About ResourceAdda</a></li>
        <li class="line"><a ui-sref=".aboutRA1" class="anchor">About Us</a></li>
        <li class="line"><a ui-sref=".companyProfile" class="anchor">Company Profile</a></li>
        <li class="line"><a ui-sref=".contactSale" class="anchor">Contact Sales</a></li>
        <li class="line"><a ui-sref=".socialRecruiting" class="anchor">Social Recruiting</a></li>
        
    </ul>
</div>
<div class="col-md-3 lines">
        
        <ul >
        <li class="lbrand padd"><a>ResourceAdda Services</a></li>
       <li  class="line" > <a ui-sref=".report" class="anchor">The Report</a></li>
       <li  class="line"> <a ui-sref=".openWeb" class="anchor">Open Web</a></li>
       <li  class="line">  <a ui-sref=".browseJobs" class="anchor">Browse Jobs</a></li>
       <li  class="line"> <a ui-sref=".browseCompanies" class="anchor">Browse Companies</a></li>
       <li  class="line"><a ui-sref=".skillsCenter" class="anchor">Skills Center</a></li></ul>
</div>
<div class="col-md-3 lines">
    
    <ul class="designs">
    <li class="lbrand padd"><a>ResourceAdda Sites</a></li>
    <li  class="line"> <a ui-sref=".siteBrowseCompanies" class="anchor">Browse Companies</a></li>
       <li  class="line"><a ui-sref=".siteSkillsCenter" class="anchor">Skills Center</a></li>
</ul>
</div>
<div class="col-md-3 lines">
		<ul >
        <li class="lbrand padd"><a class="">ResourceAdda Every where</a></li>
       </ul>
        <div class="posi">
        <span><a href="https://www.twitter.com"><img src="images/twitter.png" class="img-reponsive" width="12%"></a></span>
        <span><a  href="https://www.facebook.com/"><img src="images/facebook.png" class="img-reponsive" width="12%"></a></span>
        <span><a  href="https://plus.google.com"><img src="images/google-plus.png"  class="img-reponsive" width="12%"></a></span>
        <div>
        <span>  <a href="https://www.apple.com/in/ios/app-store/"><img src="images/apps.png" height="55px" class="img-reponsive" width="90px"></a>
        </span>
        </div>
        <div>
       <span> <a href="https://play.google.com/store?hl=en"><img src="images/google.png" height="55px" class="img-reponsive" width="90px"></a></span></div>
        </div>
</div>
 </div>
    </div>
</div>
<div class="footer2">
   
     <p class="text-center paragh">Copyright ©1990 - 2018 ResourceAdda. All rights reserved. Use of this site is subject to certain Terms and Conditions.</p>
</div>
</div>
</footer>
 -->